
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.featureCard{
  width: 100% ;
  height: 100% ;
  position: absolute ;
  left: 0px ;
  bottom: 0px ;
  display: flex ;
  align-items:center ;
  justify-content: center ;

  text-align: center ;
}