
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.featureCard{
  width: 100% ;
  height: 100% ;
  position: absolute ;
  left: 0px ;
  bottom: 0px ;
  display: flex ;
  align-items:center ;
  justify-content: center ;

  text-align: center ;
}


@media (min-width: 768px) {
  .your-banner-class {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-left: 30px;
    /* Add any other styles for large devices here */
  }
}

/* For small devices (screen width < 768px) */
@media (max-width: 767px) {
  .your-banner-class {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding-left: 30px;
    /* Add any other styles for small devices here */
  }
}