.form{
    width: 23rem;
    height: 150px;
    border-radius: 10px;
    background: #090928;
 
    padding: 20px;
    text-align: center;
    color: white;


}



.social_icons{
  
    font-size: 40px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}